/* Helpers */
.hidden {
    display: none;
}

/* screenreader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(0);
    border: 0;
}

/* Skip link */
.skip-link {
    padding: 1rem;
}
.element-invisible {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    left: 0;
    z-index: 10;
}
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
    clip: auto;
    height: auto;
    overflow: visible;
}
